.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#nav {
  background-color: transparent !important;
  border: none !important;
  margin: 5px;
  border-radius: 5px;
  color: grey !important;
  transition: 200ms color ease-in;
}

#nav:hover {
  background-color: rgba(255, 255, 255, .05) !important;
  font-size: 17px;
  color: white;
}

ul::-webkit-scrollbar {
  display: none;
}

li > button {
  background-color: transparent;
  border: none;
}

.MuiSvgIcon-root {
    cursor: pointer;
    align-items: center;
    min-height: 40px;
    color: grey;
    transition: 200ms color ease-in;
}

.MuiSvgIcon-root:hover {
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
